name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check:
    runs-on: ubuntu-latest
    name: Check Markdown files

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Lint Markdown files
        uses: DavidAnson/markdownlint-cli2-action@v16
        with:
          globs: '**/*.md'

      - name: Check links in Markdown files
        uses: tcort/github-action-markdown-link-check@v3
        with:
          use-quiet-mode: true
          use-verbose-mode: false
